{% extends "base.html" %}
{% load static %}<!-- it is used to create same url as you get  -->
{% block start %}
<style>
  body {
    /* background-image: url("{% static 'image/preview.jpeg' %}"); */
    background-image: url("{{recipe.recipe_image.url}}");
    background-repeat: repeat;
    background-size: 875px;

    height: 500px;
    width: 1000px;
  }
  h1{
    text-align: center;
    color: white;
    background-color: black;

  }
  
</style>
<body>
 


  <div class="card" style="height: 700px; width: 900px; background-color:antiquewhite;border: 5px solid black; border-radius: 20px; padding: 20px; margin: 40px; margin-left: 375px; margin-top: 20px;">
  <h1 >{{ recipe.recipe_name }}</h1>
  <table>
    <tr>  
      <td> <img class="card-img-top" src="{{recipe.recipe_image.url}}" alt="Card image cap" style="height: 310px;
  width: 300px;
  border: 2px solid black;
  border-radius: 30px;" ></td>
    <td>
      <div class="card-body">
        <h3>Ingredients</h3>
        <p style="margin: 0px;" class="card-text">{{ recipe.recipe_detail_description }}</p>
        
      </div>
    </td>
  </tr>
</table>
<a href="/main/" class="btn btn-primary">back</a>
</div>
</div>


{% endblock %}
